.site__main {
    
  
    background-color: $color__background-main;
    border-radius: 5px;
    
}

.formation {  
    padding: 10px 15px;
    display: flex;
    flex-direction: column;

    &__titre {
        font-size: 2rem;
        color: $color__font-main;
        margin: 10px 0px;
        font-family: $font__titre;
    }
    &__liste {
        display: flex;
        flex-wrap: wrap;
    }
    
    &__cours {
        background-color: $color__background-cours;
        border-radius: 6px;
        margin: 11px;
        display: flex;
        flex-direction: column;
        width: 100%;
        @media screen and (min-width : $largeur__media--tablette){
            width: 45%;
        }
        @media screen and (min-width : $largeur__media--desktop){
            width: 30%;
        }
        padding: 10px;
    }


}

.cours__titre {
    font-size: 1.9rem;
    color: $color__font-main;
    margin: 6px 0px;
}

.cours__sigle {
    font-size: 1.4rem;
    color: rgb(58, 12, 54);
    margin: 0;
}

.cours__description {
    font-size: 1.1rem;
}